//mfp zoom
/* overlay at start */
.mfp-fade.mfp-bg {
	opacity: 0;

	-webkit-transition: all 0.15s ease-out;
	-moz-transition: all 0.15s ease-out;
	transition: all 0.15s ease-out;
}
/* overlay animate in */
.mfp-fade.mfp-bg.mfp-ready {
	opacity: 0.8;
}
/* overlay animate out */
.mfp-fade.mfp-bg.mfp-removing {
	opacity: 0;
}

/* content at start */
.mfp-fade.mfp-wrap .mfp-content {
	opacity: 0;

	-webkit-transition: all 0.15s ease-out;
	-moz-transition: all 0.15s ease-out;
	transition: all 0.15s ease-out;
}
/* content animate it */
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
	opacity: 1;
}
/* content animate out */
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
	opacity: 0;
}

.rvr_certificates {
	display: flex;
	align-items: flex-start;
	.single {
		width: 25%;
		padding-right: 10px;
		box-sizing: border-box;
		position: relative;
		&:hover {
			&:before {
				opacity: 1;
			}
		}
		&:before {
			content: "";
			display: block;
			width: calc(100% - 10px);
			height: 100%;
			position: absolute;
			left: 0;
			top: 0;
			cursor: pointer;
			background: rgba(0, 0, 0, 0.8) url('../../images/zoom_in.png') center no-repeat;
			opacity: 0;
			transition: 0.3s;
		}
		img {
			max-width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}

.icon {
	&.icon-instagram {
		display: inline-block;
		width: 13px;
		height: 13px;
		background: url('../../images/sprite.png') 0px 0px no-repeat;
	}
	&.acardeon-open {
		display: inline-block;
		width: 9px;
		height: 5px;
		background: url('../../images/sprite.png') -7px -17px no-repeat;
	}
	&.acardeon-close {
		display: inline-block;
		width: 5px;
		height: 9px;
		background: url('../../images/sprite.png') 0px -14px no-repeat;
	}
}

.rvr_testimonials_wrapper {
	display: flex;
	flex-wrap: wrap;
	.single {
		margin-bottom: 40px;
		width: 24%; 
		margin-right: 1%;
		.image-holder {
			margin-bottom: 15px;
			height: 280px;
			img {
				max-width: 100%;
				height: 100%;
				object-fit: 50%;
				object-position: 50%;
			}
		}
		.testimonial_text {
			color: #eeb021;
			display: block;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
			font-style: 13px;
		}
		.from {
			font-style: 13px;
			color: #f74745;
			.icon-instagram {
				position: relative;
				top: -1px;
				margin-right: 2px;
			}
		}
	}
}

.rvr_faq_wrapper {
	.set {
		border-bottom: 1px solid #f1f1f1;
		padding-bottom: 15px;
		margin-bottom: 15px;
		.question {
			font-size: 15px;
			display: block;
			position: relative;
			text-decoration: none;
			color: #000;
			border: none;
			font-weight: bold;
			&:hover {
				border: none;
			}
			i {
				position: absolute;
				right: 0;
				top: 50%; 
				transform: translateY(-50%);
			}
		}
		.faq_content {
			display: none;
			padding-left: 27px;
		}
	}
}

.rvr_delivery_lists	{
	padding-bottom: 15px;
	border-bottom: 2px solid #ddd;
	margin-bottom: 30px;
	.single-list {
		margin-bottom: 15px;
		h3 {
			font-size: 14px;
			text-transform: uppercase;
			padding-left: 30px;
			position: relative;
			margin-bottom: 15px;
			&:before {
				content: "";
				display: block;
				position: absolute;
				left: 0;
				top: 50%;
				transform: translateY(-50%);
				background: url('../../images/sprite.png') 0 0 no-repeat;
			}
			&.self_delivery {
				&:before {
					width: 23px;
					height: 21px;
					background-position: 0px -25px;
				}
			}
			&.ua_delivery {
				&:before {
					width: 17px;
					height: 17px;
					background-position: -4px -49px;
				}
			}
			&.world_delivery {
				&:before {
					width: 16px;
					height: 16px;
					background-position: -4px -71px;
				}
			}
		}
		ul {
			padding: 0 0 0 32px;
			margin: 0;
			li {
				list-style-type: disc;
				font-size: 14px;
			}
		}
	}	
}

.rvr_mini-title {
	font-weight: bold;
	font-size: 14px;
	margin-bottom: 15px;
	line-height: 14px;
}

.rvr_info_links {
	padding: 0;
	margin: 0;
	columns: 2;
	padding-bottom: 30px;
	border-bottom: 2px solid #ddd;
	li {
		list-style-type: none;
		a {
			color: #c5933b;
			text-decoration: underline;
			&:hover {
				border: none;
				text-decoration: none;
			}
		}
	}
}

.rvr_payment_info {
	font-size: 14px;
	border-bottom: 2px solid #eee;
	.rvr_mini-title {
		text-align: center;
		margin-bottom: 35px;
		margin-top: 35px;
	}
	.rvr_payment_items {
		.item {
			margin-bottom: 25px;
			.item-title {
				margin-bottom: 10px;
				text-transform: uppercase;
				font-weight: bold;
			}
			ul {
				li {
					display: block;
					margin-bottom: 3px;
					font-size: 14px;
				}
			}
			&.rvr_online_payment {
				.item-title {
					margin-bottom: 40px;
				}
				.payment_desc {
					p {
						font-size: 13px;
						line-height: 20px;
						padding-bottom: 10px;
					}
				}
			}
			.rvr_payment_methods {
				.single {
					padding: 0 0 30px 0;
					margin: 30px 0 0 0;
					border-bottom: 1px dashed #eee;
					font-weight: 500;
					&:first-child {
						margin-top: 0;
					}
					img {
						display: block;
						margin: 0 auto;
					}
				}
			}
		}
	}
}

.rvr_delivery_info {
	padding-bottom: 30px;
	border-bottom: 2px solid #eee;
	.rvr_mini-title {
		text-align: center;
		margin-bottom: 50px;
		text-transform: uppercase;
		margin-top: 30px;
	}
	.flex-row {
		display: flex;
		.item {
			width: 33.3%;
			text-align: center;
			font-size: 14px;
			.image-holder {
				margin-bottom: 25px;
				text-align: center;
			}
		}
	}
}

.rvr_work_with {
	padding-bottom: 35px;
	.rvr_mini-title {
		text-transform: uppercase;
		margin: 50px 0;
		text-align: center;
	}
	ul {
		columns: 4;
		li {
			margin-bottom: 35px;
		}
	}
}

.rvr_ask {
	text-align: center;
	margin-top: 35px;
	p {
		font-size: 14px;
	}
	.lnk-btn {
		display: inline-block;
		border-bottom: none;
		text-decoration: underline;
	}
	.phones {
		margin: 0 0 10px 0;
		padding: 0;
		li {
			display: inline-block;
			list-style-type: none;
			&:nth-child(2) {
				margin: 0 25px;
			}
			a {
				display: inline-block;
				color: #000;
				border-bottom: none;
				font-size: 18px;
				padding-left: 40px;
				position: relative;
				&:before {
					content: "";
					display: block;
					position: absolute;
					width: 15px;
					height: 15px;
					background: url("../../images/sprite.png") -4px -96px no-repeat;
					left: 0;
					top: 50%;
					transform: translateY(-50%);
				}
			}
		}
	}
}
.rvr_founders {
	color: #000;
	font-size: 14px;
	padding-bottom: 35px;
	margin-bottom: 75px;
	border-bottom: 2px solid #eee;
	.founders-text {
		font-size: 14px;
		margin-top: 45px;
		line-height: 17px;
	}
	figure {
		img {
			max-width: 100%;
		}
		figcaption {
			display: block;
			margin-top: 25px;
			text-align: center;
			font-size: 14px;
			line-height: 17px;
			color: #000;
			span {
				display: block;
				text-align: center;
				color: #858585;
			}
		}
	}
}

.rvr-founder-desc {
	font-size: 14px;
	line-height: 17px;
	color: #000;
	figure {
		text-align: center;
		margin-bottom: 30px;
		img {
			max-width: 100%;
		}
		figcaption {
			display: block;
			margin-top: 25px;
			text-align: center;
			font-size: 14px;
			line-height: 17px;
			color: #000;
			span {
				display: block;
				text-align: center;
				color: #858585;
			}
		}
	}
}
.image-holder {
	text-align: center;
	img {
		max-width: 100%;
	}
}
.rvr_block {
	line-height: 17px;
	font-size: 14px;
	color: #000;
}
.rvr_bordered {
	padding-bottom: 35px;
	margin-bottom: 30px;
	border-bottom: 2px solid #eee;
}
.rvr_founders_description {
	font-size: 14px;
	line-height: 17px;
	color: #000;
	padding-bottom: 30px;
	margin-bottom: 30px;
	border-bottom: 2px solid #eee;
	.team {
		margin-bottom: 35px;
	}
	.image-holder {
		img {
			text-align: center;
			img {
				max-width: 100%;
			}
		}
	}
}
.mt35 {
	margin-top: 35px;
}
.rvr_infographics {
	margin-bottom: 115px;
	margin-top: 50px;
}
.rvr_history_missions {
	.rvr_mini-title {
		font-size: 19px;
		margin-bottom: 35px;
	}
}
.rvr_prems {
	display: flex;
	flex-wrap: wrap;
	margin-top: 5px;
	.single {
		margin-bottom: 30px;
		text-align: center;
		padding-top: 70px;
		position: relative;
		font-size: 13px;
		width: 50%;
		&:before {
			content: "";
			background: url('../../images/sprite.png') 0 0 no-repeat;
			position: absolute;
			left: 50%;
			top: 0;
			transform: translateX(-50%);
		}
		&.service {
			&:before {
				width: 51px;
				height: 51px;
				background-position: -32px -5px;
			}
		}
		&.specialists {
			&:before {
				width: 49px;
				height: 51px;
				background-position: -94px -2px;
			}
		}
		&.partners {
			&:before {
				width: 51px;
				height: 51px;
				background-position: -34px -62px;
			}
		}
		&.production {
			&:before {
				width: 51px;
				height: 51px;
				background-position: -95px -59px;
			}
		}
	}
}

.rvr_contacts_page {
	.rvr_contacts_item {
		padding-left: 35px;
		position: relative;
		margin-bottom: 50px;
		&:before {
			content: "";
			display: block;
			position: absolute;
			left: 0;
			top: 0;
			background: url('../../images/sprite.png') 0 0 no-repeat;
		}
		&.phones {
			&:before {
				width: 22px;
				height: 22px;
				background-position: 0px -124px;
			}
		}
		&.mail {
			.text {
				margin-top: 20px;
			}
			&:before {
				width: 25px;
				height: 25px;
				background-position: -29px -122px;
			}
		}
		&.map {
			.text {
				line-height: 18px;
				font-size: 13px;
				margin-bottom: 20px;
			}
			&:before {
				width: 28px;
				height: 28px;
				background-position: -61px -121px;
			}
		}
		.text {
			font-weight: 500;
		}
		.title {
			text-transform: uppercase;
			font-size: 13px;
			line-height: 18px;
			font-weight: 500;
		}
		.info {
			color: #949494;
			font-size: 13px;
			line-height: 18px;
			display: inline-block;
			margin-bottom: 20px;
		}
		.rvr_phones-list {
			a {
				font-size: 13px;
				line-height: 18px;
				&:not(.selected) {
					border-bottom: none;
					text-decoration: none;
					color: #000;
				}
			}
		}
	}
}

.rvr_form_row {

}

.rvr_form_row {
	margin-top: 70px;
	background: url('../../images/form_bg.png') right no-repeat;
    background-size: contain;
    margin-bottom: 85px;
	.rvr_form_block {
		.rvr_form_title {
			font-size: 15px;
			line-height: 23px;
			margin-bottom: 20px;
		}
		.rvr_form {
			text-align: center;
			button {
				color: #000;
			}
			input, textarea {
				display: block;
				margin-bottom: 20px;
				&::-webkit-input-placeholder {
					text-transform: none;
				}
			}
		}
	}
}