@import "break";

//mfp zoom
/* overlay at start */
.mfp-fade.mfp-bg {
	opacity: 0;

	-webkit-transition: all 0.15s ease-out;
	-moz-transition: all 0.15s ease-out;
	transition: all 0.15s ease-out;
}
/* overlay animate in */
.mfp-fade.mfp-bg.mfp-ready {
	opacity: 0.8;
}
/* overlay animate out */
.mfp-fade.mfp-bg.mfp-removing {
	opacity: 0;
}

/* content at start */
.mfp-fade.mfp-wrap .mfp-content {
	opacity: 0;

	-webkit-transition: all 0.15s ease-out;
	-moz-transition: all 0.15s ease-out;
	transition: all 0.15s ease-out;
}
/* content animate it */
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
	opacity: 1;
}
/* content animate out */
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
	opacity: 0;
}

.rvr_certificates {
	display: flex;
	align-items: flex-start;
	@include break(small) {
		flex-wrap: wrap;
	}
	.single {
		width: 25%;
		padding-right: 10px;
		box-sizing: border-box;
		position: relative;
		@include break(small) {
			width: 50%;
			text-align: center;
		}
		&:hover {
			&:before {
				opacity: 1;
			}
		}
		&:before {
			content: "";
			display: block;
			width: calc(100% - 10px);
			height: 100%;
			position: absolute;
			left: 0;
			top: 0;
			cursor: pointer;
			background: rgba(0, 0, 0, 0.8) url('../../images/zoom_in.png') center no-repeat;
			opacity: 0;
			transition: 0.3s;
		}
		img {
			max-width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}

.icon {
	&.icon-instagram {
		display: inline-block;
		width: 13px;
		height: 13px;
		background: url('../../images/sprite.png') 0px 0px no-repeat;
	}
	&.acardeon-open {
		display: inline-block;
		width: 9px;
		height: 5px;
		background: url('../../images/sprite.png') -7px -17px no-repeat;
	}
	&.acardeon-close {
		display: inline-block;
		width: 5px;
		height: 9px;
		background: url('../../images/sprite.png') 0px -14px no-repeat;
	}
}

.rvr_testimonials_wrapper {
	display: flex;
	flex-wrap: wrap;
	.single {
		margin-bottom: 40px;
		width: 24%; 
		margin-right: 1%;
		@include break(small) {
			width: 32.1%;
		}
		@include break(650) {
			width: 100%;
		}
		@include break(330) {
			width: 100%;
		}
		.image-holder {
			margin-bottom: 15px;
			height: 280px;
			img {
				max-width: 100%;
				height: 100%;
				object-fit: 50%;
				object-position: 50%;
			}
		}
		.testimonial_text {
			color: #eeb021;
			display: block;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
			font-style: 13px;
		}
		.from {
			font-style: 13px;
			color: #f74745;
			.icon-instagram {
				position: relative;
				top: -1px;
				margin-right: 2px;
			}
		}
	}
}

.rvr_faq_wrapper {
	.set {
		border-bottom: 1px solid #f1f1f1;
		padding-bottom: 15px;
		margin-bottom: 15px;
		.question {
			font-size: 15px;
			display: block;
			position: relative;
			text-decoration: none;
			color: #000;
			border: none;
			font-weight: bold;
			&:hover {
				border: none;
			}
			i {
				position: absolute;
				right: 0;
				top: 50%; 
				transform: translateY(-50%);
			}
		}
		.faq_content {
			display: none;
			padding-left: 27px;
		}
	}
}

.rvr_delivery_lists	{
	padding-bottom: 15px;
	border-bottom: 2px solid #ddd;
	margin-bottom: 30px;
	.single-list {
		margin-bottom: 15px;
		h3 {
			font-size: 14px;
			text-transform: uppercase;
			padding-left: 30px;
			position: relative;
			margin-bottom: 15px;
			&:before {
				content: "";
				display: block;
				position: absolute;
				left: 0;
				top: 50%;
				transform: translateY(-50%);
				background: url('../../images/sprite.png') 0 0 no-repeat;
			}
			&.self_delivery {
				&:before {
					width: 23px;
					height: 21px;
					background-position: 0px -25px;
				}
			}
			&.ua_delivery {
				&:before {
					width: 17px;
					height: 17px;
					background-position: -4px -49px;
				}
			}
			&.world_delivery {
				&:before {
					width: 16px;
					height: 16px;
					background-position: -4px -71px;
				}
			}
		}
		ul {
			padding: 0 0 0 32px;
			margin: 0;
			li {
				list-style-type: disc;
				font-size: 14px;
			}
		}
	}	
}

.rvr_mini-title {
	font-weight: bold;
	font-size: 14px;
	margin-bottom: 15px;
	line-height: 14px;
}

.rvr_info_links {
	padding: 0;
	margin: 0;
	columns: 2;
	padding-bottom: 30px;
	border-bottom: 2px solid #ddd;
	@include break(s-small) {
		columns: 1;
	}
	li {
		list-style-type: none;
		a {
			color: #c5933b;
			text-decoration: underline;
			&:hover {
				border: none;
				text-decoration: none;
			}
		}
	}
}

.rvr_payment_info {
	font-size: 14px;
	border-bottom: 2px solid #eee;
	.rvr_mini-title {
		text-align: center;
		margin-bottom: 35px;
		margin-top: 35px;
	}
	.rvr_payment_items {
		.item {
			margin-bottom: 25px;
			.item-title {
				margin-bottom: 10px;
				text-transform: uppercase;
				font-weight: bold;
			}
			ul {
				li {
					display: block;
					margin-bottom: 3px;
					font-size: 14px;
				}
			}
			&.rvr_online_payment {
				.item-title {
					margin-bottom: 40px;
				}
				.payment_desc {
					p {
						font-size: 13px;
						line-height: 20px;
						padding-bottom: 10px;
					}
				}
			}
			.rvr_payment_methods {
				.single {
					padding: 0 0 30px 0;
					margin: 30px 0 0 0;
					border-bottom: 1px dashed #eee;
					font-weight: 500;
					&:first-child {
						margin-top: 0;
					}
					img {
						display: block;
						margin: 0 auto;
					}
				}
			}
		}
	}
}

.rvr_delivery_info {
	padding-bottom: 30px;
	border-bottom: 2px solid #eee;
	.rvr_mini-title {
		text-align: center;
		margin-bottom: 50px;
		text-transform: uppercase;
		margin-top: 30px;
	}
	.flex-row {
		display: flex;
		@include break(650) {
			flex-wrap: wrap;
		}
		.item {
			width: 33.3%;
			text-align: center;
			font-size: 14px;
			@include break(650) {
				width: 100%;
				margin-bottom: 25px;
			}
			.image-holder {
				margin-bottom: 25px;
				text-align: center;
			}
		}
	}
}

.rvr_work_with {
	padding-bottom: 35px;
	.rvr_mini-title {
		text-transform: uppercase;
		margin: 50px 0;
		text-align: center;
	}
	ul {
		columns: 4;
		@include break(650) {
			columns: 2;
		}
		li {
			margin-bottom: 35px;
			img {
				max-width: 100%
			}
		}
	}
}

.rvr_ask {
	text-align: center;
	margin-top: 35px;
	p {
		font-size: 14px;
	}
	.lnk-btn {
		display: inline-block;
		border-bottom: none;
		text-decoration: underline;
	}
	.phones {
		margin: 0 0 10px 0;
		padding: 0;
		li {
			display: inline-block;
			list-style-type: none;
			&:nth-child(2) {
				margin: 0 25px;
			}
			a {
				display: inline-block;
				color: #000;
				border-bottom: none;
				font-size: 18px;
				padding-left: 40px;
				position: relative;
				&:before {
					content: "";
					display: block;
					position: absolute;
					width: 15px;
					height: 15px;
					background: url("../../images/sprite.png") -4px -96px no-repeat;
					left: 0;
					top: 50%;
					transform: translateY(-50%);
				}
			}
		}
	}
}
.rvr_founders {
	color: #000;
	font-size: 14px;
	padding-bottom: 35px;
	margin-bottom: 75px;
	border-bottom: 2px solid #eee;
	@include break(small) {
		display: flex;
		flex-direction: column-reverse;
	}
	.founders-text {
		font-size: 14px;
		margin-top: 45px;
		line-height: 17px;
		@include break(small) {
			margin-top: 0;
		}
	}
	figure {
		@include break(small) {
			text-align: center;
		}
		img {
			max-width: 100%;
		}
		figcaption {
			display: block;
			margin-top: 25px;
			text-align: center;
			font-size: 14px;
			line-height: 17px;
			color: #000;
			span {
				display: block;
				text-align: center;
				color: #858585;
			}
		}
	}
}

.rvr-founder-desc {
	font-size: 14px;
	line-height: 17px;
	color: #000;
	figure {
		text-align: center;
		margin-bottom: 30px;
		img {
			max-width: 100%;
		}
		figcaption {
			display: block;
			margin-top: 25px;
			text-align: center;
			font-size: 14px;
			line-height: 17px;
			color: #000;
			span {
				display: block;
				text-align: center;
				color: #858585;
			}
		}
	}
}
.image-holder {
	text-align: center;
	img {
		max-width: 100%;
	}
}
.rvr_block {
	line-height: 17px;
	font-size: 14px;
	color: #000;
}
.rvr_bordered {
	padding-bottom: 35px;
	margin-bottom: 30px;
	border-bottom: 2px solid #eee;
}
.rvr_founders_description {
	font-size: 14px;
	line-height: 17px;
	color: #000;
	padding-bottom: 30px;
	margin-bottom: 30px;
	border-bottom: 2px solid #eee;
	.team {
		margin-bottom: 35px;
	}
	.image-holder {
		img {
			text-align: center;
			img {
				max-width: 100%;
			}
		}
	}
}
.mt35 {
	margin-top: 35px;
	@include break(small) {
		margin-top: 0;
	} 
}
.reverse-mobile {
	@include break(small) {
		display: flex;
		flex-direction: column-reverse;
	}
}
.rvr_infographics {
	margin-bottom: 115px;
	margin-top: 50px;
	@include break(small) {
		display: none;
	}
	img {
		max-width: 100%
	}
}
.rvr_history_missions {
	.rvr_mini-title {
		font-size: 19px;
		margin-bottom: 35px;
	}
}
.rvr_prems {
	display: flex;
	flex-wrap: wrap;
	margin-top: 5px;
	.single {
		margin-bottom: 30px;
		text-align: center;
		padding-top: 70px;
		position: relative;
		font-size: 13px;
		width: 50%;
		&:before {
			content: "";
			background: url('../../images/sprite.png') 0 0 no-repeat;
			position: absolute;
			left: 50%;
			top: 0;
			transform: translateX(-50%);
		}
		&.service {
			&:before {
				width: 51px;
				height: 51px;
				background-position: -32px -5px;
			}
		}
		&.specialists {
			&:before {
				width: 49px;
				height: 51px;
				background-position: -94px -2px;
			}
		}
		&.partners {
			&:before {
				width: 51px;
				height: 51px;
				background-position: -34px -62px;
			}
		}
		&.production {
			&:before {
				width: 51px;
				height: 51px;
				background-position: -95px -59px;
			}
		}
	}
}

.rvr_contacts_page {
	.rvr_contacts_item {
		padding-left: 35px;
		position: relative;
		margin-bottom: 50px;
		&:before {
			content: "";
			display: block;
			position: absolute;
			left: 0;
			top: 0;
			background: url('../../images/sprite.png') 0 0 no-repeat;
		}
		&.phones {
			&:before {
				width: 22px;
				height: 22px;
				background-position: 0px -124px;
			}
		}
		&.mail {
			.text {
				margin-top: 20px;
			}
			&:before {
				width: 25px;
				height: 25px;
				background-position: -29px -122px;
			}
		}
		&.map {
			.text {
				line-height: 18px;
				font-size: 13px;
				margin-bottom: 20px;
			}
			&:before {
				width: 28px;
				height: 28px;
				background-position: -61px -121px;
			}
		}
		.text {
			font-weight: 500;
		}
		.title {
			text-transform: uppercase;
			font-size: 13px;
			line-height: 18px;
			font-weight: 500;
		}
		.info {
			color: #949494;
			font-size: 13px;
			line-height: 18px;
			display: inline-block;
			margin-bottom: 20px;
		}
		.rvr_phones-list {
			a {
				font-size: 13px;
				line-height: 18px;
				&:not(.selected) {
					border-bottom: none;
					text-decoration: none;
					color: #000;
				}
			}
		}
	}
}
.mobile-full-width {
	@include break(small) {
		padding: 0;
		iframe {
			margin-bottom: -60px;
		}
	}
}
.rvr_form_row {
	margin-top: 70px;
	background: url('../../images/form_bg.png') right no-repeat;
	background-size: contain;
	margin-bottom: 85px;
	@include break(small) {
		margin-top: 0;
		background: none;
		margin-bottom: 20px;
	}
	.rvr_form_block { 
		.rvr_form_title {
			font-size: 15px;
			line-height: 23px;
			margin-bottom: 20px;
		}
	}
}
.rvr_form {
	text-align: center;
	button {
		color: #000;
	}
	input, textarea {
		display: block;
		margin-bottom: 20px;
		&::-webkit-input-placeholder {
			text-transform: none;
		}
	}
	textarea {
		min-height: 80px;
	}
}


.rvr_return_description {
	display: flex;
	align-items: flex-start;
	@include break(650) {
		flex-direction: column;
	}
	.image-holder {
		flex: 0 0 auto;
		margin-right: 20px;
		@include break(650) {
			display: none;
		}
	}
}

.rvr_message {
	display: block;
	color: #000;
	padding: 15px;
	box-sizing: border-box;
	font-size: 14px;
	line-height: 17px;
	background: #f2f2f2;
	margin: 30px 0;
	i {
		font-style: italic;
	}
}
.rvr_non_return {
	.rvr_mini-title {
		text-transform: uppercase;
		text-align: center;
		margin-bottom: 50px;
	}
}
.rvr_non_return_items {
	display: flex;
	flex-wrap: wrap;
	.item {
		text-align: center;
		width: 33.33%;
		margin-bottom: 35px;
		padding-top: 80px;
		position: relative;
		font-size: 13px;
		line-height: 19px;
		color: #000;
		@include break(650) {
			width: 50%;
		}
		&:before {
			content: "";
			display: block;
			position: absolute;
			left: 50%;
			top: 0;
			transform: translateX(-50%);
			background: url('../../images/sprite.png') 0 0 no-repeat;
		}
		&.underwaer {
			&:before {
				width: 60px;
				height: 50px;
				background-position: 0px -148px;
			}
		}
		&.discount {
			&:before {
				width: 63px;
				height: 48px;
				background-position: 0px -198px;
			}
		}
		&.individual {
			&:before {
				width: 64px;
				height: 55px;
				background-position: 0px -250px;
			}
		}
		&.top {
			&:before {
				width: 51px;
				height: 56px;
				background-position: 0px -305px;
			}
		}
		&.large_size {
			&:before {
				width: 49px;
				height: 52px;
				background-position: 0px -361px;
			}
		}
		&.returned {
			&:before {
				width: 58px;
				height: 47px;
				background-position: 0 -413px;
			}
		}	
	}
}

.rvr_procedure_return {
	.rvr_mini-title {
		text-align: center;
		text-transform: uppercase;
		margin-bottom: 30px;
	}
	ul {
		padding: 0;
		margin: 0;
		li {
			list-style-type: none;
			display: block;
			font-size: 14px;
			line-height: 17px;
			margin-bottom: 10px;
			position: relative;
			color: #000;
			&:after {
				content: "";
				display: inline-block;
				width: 12px;
				height: 8px;
				margin-left: 15px;
				background: url("../../images/sprite.png") -105px -122px no-repeat;
			}
		}
	}
}

.rvr_supplier_info {
	padding-bottom: 30px;
	border-bottom: 2px solid #eee;
	margin-bottom: 30px;
	ul {
		padding: 0 0 0 20px;
		margin: 0;
		li {
			list-style-type: disc;
			font-style: 14px;
			line-height: 20px;
			color: #000;
		}
	}
}
.rvr_row_with_image {
	display: flex;
	margin-bottom: 50px;
	@include break(650) {
		flex-direction: column;
		margin-bottom: 25px;
	}
	.image-holder {
		flex: 0 0 auto;
		margin-right: 20px;
		@include break(650) {
			margin-right: 0;
		}
	}
	&:nth-child(even) {
		flex-direction: row-reverse;
		@include break(650) {
			flex-direction: column;
		}
		.image-holder {
			margin-right: 0;
			margin-left: 20px;
			@include break(650) {
				margin-left: 0;
			}
		}
	}
	.text {}
}

.rvr_we_purpose {
	margin: 30px 0 60px;
	.rvr_mini-title {
		text-transform: uppercase;
		text-align: center;
		margin-bottom: 30px;
	}
	.rvr_purpose_item {
		display: flex;
		@include break(650) {
			flex-direction: column;
		}
		.item {
			text-align: center;
			width: 33.3%;
			padding-top: 115px;
			position: relative;
			font-size: 13px;
			line-height: 19px;
			@include break(650) {
				width: 100%;
				margin-bottom: 30px;
			}
			&:before {
				content: "";
				display: block;
				width: 84px;
				height: 84px;
				background: url("../../images/sprite.png") 0 0 no-repeat;
				position: absolute;
				left: 50%;
				top: 0;
				transform: translateX(-50%);
			}
			&.cooperation {
				&:before {
					background-position: -75px -156px;
				}
			}
			&.buyers {
				&:before {
					background-position: -75px -240px;
				}
			}
			&.marketing {
				&:before {
					background-position: -75px -324px;
				}
			}
		}
	}
}

.rvr_supplier_page {
	.rvr_form {
		margin: 30px auto;
		width: 410px;
		@include break(x-small) { 
			width: 100%;
		}
	}
}

.rvr_warranty_items {
	.item {
		display: flex;
		width: 100%;
		background-color: #fcfcfc;
		padding: 10px;
		box-sizing: border-box;
		margin-bottom: 30px;
		border: 1px solid #dddddd;
		border-radius: 3px;
		@include break(small) {
			flex-direction: column;
		}
		.img_holder {
			flex: 0 0 auto;
			margin-right: 30px;
			position: relative;
			@include break(small) {
				width: 190px;
				margin: auto;
			}
			&:before {
				content: "";
				display: block;
				position: absolute;
				top: -5px;
				right: -5px;
				background: url("../../images/sprite.png") 0 0 no-repeat;
				width: 46px;
				height: 39px;
			}
			&.guarantee {
				&:before {
					background-position: -146px 0px;
				}
			}
			&.assurance {
				&:before {
					background-position: -146px -39px;
				}
			}
			&.ssl {
				&:before {
					background-position: -192px 0px;
				}
			}
			&.full_packet {
				&:before {
					background-position: -192px -39px;
				}
			}
			&.confidencial {
				&:before {
					background-position: -238px 0px;
				}
			}
		}
		.rvr_warranty_title {
			color: #d2a348;
			text-transform: uppercase;
			font-weight: 500;
			margin-bottom: 12px;
			font-size: 14px;
			@include break(small) {
				text-align: center;
			}
		}
		&:nth-child(even) {
			flex-direction: row-reverse;
			margin-right: 0;
			text-align: right;
			@include break(small) {
				flex-direction: column;
				text-align: center;
			}
			.img_holder {
				margin-left: 30px;
				margin-right: 0;
				@include break(small) {
					width: 190px;
					margin: auto;
				}
				&:before {
					right: auto;
					left: -5px;
				}
			}
		}
	} 
}

.rvr_vacations_page {
	.company_description {
		margin-bottom: 35px;
	}
	.rvr_smi {
		margin-bottom: 20px;
		img {
			display: block;
			margin-bottom: 3px;
		}
		a {
			font-size: 14px;
			line-height: 16px;
		}
	}
}
.rvr_number_list {
	margin-top: 30px;
	.item {
		font-weight: bold;
		font-size: 15px;
		display: flex;
		color: #000;
		margin-bottom: 10px;
		span {
			display: flex;
			width: 25px;
			height: 25px;
			align-items: center;
			justify-content: center;
			font-size: 15px;
			color: #cc9d46;
			border: 1px solid #cc9d46;
			border-radius: 50px;
			margin-right: 15px;
		}
	}
}

.rvr_vacations_list {
	.item {
		display: block;
		box-sizing: border-box;
		padding: 10px;
		background: #f2f2f2;
		margin-bottom: 15px;
		.name {
			font-size: 18px;
			font-weight: bold;
			font-size: 20px;
		}
		a {
			font-size: 14px;
			line-height: 18px;
		}
	}
}

.contact-item {
	padding: 10px 0;
	border-bottom: 1px dashed #e9e9e9;
	&:first-child {
		padding-top: 0;
	}
	&.card {
		display: flex;
		align-items: center;
		.photo {
			margin-right: 10px;
		}
		.card-info {
			font-size: 14px;
			line-height: 20px;
			.name {
				color: #000;
			}
			.d {
				color: #848484;
			}
		}
	}
}
.video_holder {
	text-align: center;
	iframe {
		@include break(small) {
			width: 100%;
			height: auto;
		}
	}
}
.rvr_blockquote {
	max-width: 700px;
	margin: 30px auto;
	padding: 40px 60px;
	position: relative;
	background: #f6f6f6;
	border: none;
	&:before {
		position: absolute;
		content: "";
		left: 20px;
		top: 20px;
		width: 32px;
		height: 22px;
		background: url("../../images/sprite.png") -249px -50px no-repeat;
	}
	p {
		font-style: italic;
		font-weight: 100;
		padding-bottom: 20px;
		font-size: 13px;
		line-height: 18px;
	}
	footer {
		text-align: right;
	}
}

.rvr_line_list {
	margin: 70px 0;
	li {
		padding-left: 40px;
		list-style-type: none;
		display: block;
		margin-bottom: 15px;
		font-size: 14px;
		line-height: 18px;
		position: relative;
		&:before {
			content: "";
			display: block;
			width: 20px;
			height: 1px;
			background: #000;
			position: absolute;
			left: 0;
			top: 10px;
		}
	}
}